<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeHue</title>
    <style type="text/css">
    body {
        padding-left: 10px;
        background-color: #252525 !important;
    }
    .panel {
        width: 300px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .btn {
        width: 80%;
        margin-left: 20px;
    }
    .glyphicon-off {
        top: 2px !important;
    }
    </style>

    <!-- Bootstrap -->
    <link href="dist/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="HHBox panel panel-default pull-left">
      <div class="panel-body">
        <button type="button" class="HHBoxOnOff btn btn-success"><span class="pull-left">Chambre</span><span class="glyphicon glyphicon-off pull-right"></span></button>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/bootstrap/bootstrap.min.js"></script>
    <script src="dist/app.min.js"></script>
  </body>
</html>
