<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>HomeHue</title>
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- HomeHue css -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Fix IE 10 on Windows Phone 8 Viewport
    http://css-tricks.com/snippets/javascript/fix-ie-10-on-windows-phone-8-viewport/ -->
    <script type="text/javascript">
        (function() {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode("@-ms-viewport{width:auto!important}")
                );
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        })();
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HomeHue</a>
            </div>
            <div class="navbar-collapse collapse">
                <div id="userInfo">
                    <div class="alert alert-danger" id="alertFormMissField">
                        <strong>Warning!</strong> you must fill all the fields
                    </div>
                    <b style="color:#C7C7C7">USER INFO</b>
                    <div class="input-group">
                        <input type="text" class="form-control inputForm" id="inputHueIp" placeholder="HUE IP (ex:192.168.1.12)" data-toggle="tooltip" data-placement="top" title="HUE IP">
                        <span class="input-group-addon buttonForm" data-toggle="tooltip" data-placement="left" title="AUTOMATIC SEARCH"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control inputForm" id="inputUserName" placeholder="USERNAME" data-toggle="tooltip" data-placement="top" title="USERNAME">
                        <span class="input-group-addon buttonForm" data-toggle="tooltip" data-placement="left" title="CREATE NEW USER"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control inputForm" id="inputSleepDuration" placeholder="SLEEP DURATION" data-toggle="tooltip" data-placement="top" title="SLEEP DURATION">
                        <span class="input-group-addon">s</span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control inputForm" id="inputWakeUpDuration" placeholder="WAKE UP DURATION" data-toggle="tooltip" data-placement="top" title="WAKE UP DURATION">
                        <span class="input-group-addon">s</span>
                    </div>
                    <br/>
                    <button type="button" class="btn btn-warning" id="BtnPlanning">PLANNING</button>
                    <button type="button" class="btn btn-success pull-right" id="BtnTestAndSave">TEST & SAVE</button>
                    <div class="alert alert-danger" id="alertUserInfo"></div>
                    <br/>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="HHBox panel panel-default pull-left">
      <div class="panel-body">
        <button type="button" class="HHBoxOnOff btn btn-success"><span class="pull-left">Chambre</span><span class="glyphicon glyphicon-off pull-right"></span></button>
        <button type="button" class="HHBoxGoSleep btn btn-warning">
            <span>GO SLEEP</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>
        </button>
        <button type="button" class="HHBoxWakeUp btn btn-info">
            <span>WAKE UP</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">100% Complete</span>
                </div>
            </div>
        </button><br/>
        <button type="button" class="HHBoxColor btn">
            <span>COLOR</span>
        </button>
        <input data-slider-id='HHBoxSlider' type="text" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="255"/>
        
      </div>
    </div>

    <div class="HHPlanning">
        <div class="header">
            <span class="glyphicon glyphicon-remove-circle text-danger" id="closePlanning"></span>
            <span class="glyphicon glyphicon-plus text-success" id="addAction"></span>
        </div>
        <div class="list"></div>
        <div class="add">
            <h3>I want to</h3>
            <ul class="nav nav-pills nav-stacked chooseAction">
              <li class="active" id="action0"><a href="#">Turn off</a></li>
              <li id="action1"><a href="#">Turn on</a></li>
              <li id="action2"><a href="#">Wake up</a></li>
              <li id="action3"><a href="#">Go sleep</a></li>
            </ul>
            <h3>For</h3>
            <ul class="nav nav-pills nav-stacked chooseLight">
            </ul>
            <h3>On</h3>
            <ul class="nav nav-pills nav-stacked chooseDay">
                <li id="day0"><a href="#">Sunday</a></li>
                <li id="day1"><a href="#">Monday</a></li>
                <li id="day2"><a href="#">Tuesday</a></li>
                <li id="day3"><a href="#">Wednesday</a></li>
                <li id="day4"><a href="#">Thursday</a></li>
                <li id="day5"><a href="#">Friday</a></li>
                <li id="day6"><a href="#">Saturday</a></li>
            </ul>
            <h3>At</h3>
            <select class="form-control chooseHours">
              <option>00</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
            </select>
            :
            <select class="form-control chooseMinutes">
              <option>00</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
              <option>32</option>
              <option>33</option>
              <option>34</option>
              <option>35</option>
              <option>36</option>
              <option>37</option>
              <option>38</option>
              <option>39</option>
              <option>40</option>
              <option>41</option>
              <option>42</option>
              <option>43</option>
              <option>44</option>
              <option>45</option>
              <option>46</option>
              <option>47</option>
              <option>48</option>
              <option>49</option>
              <option>50</option>
              <option>51</option>
              <option>52</option>
              <option>53</option>
              <option>54</option>
              <option>55</option>
              <option>56</option>
              <option>57</option>
              <option>58</option>
              <option>59</option>
            </select>
            <h3>Frequency</h3>
            <button type="button" class="btn btn-default chooseRecurent">Each week</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-default chooseOnce">Just once</button><br/><br/>
        </div>
    </div>

    <div id="color-picker-wrapper">
      <button type="button" class="close btn-lg" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="color-picker-sat"></div>
      <div id="color-picker"></div>
    </div>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<!-- HomeHue app -->
<script src="dist/app_front.min.js"></script>
</html>
